<footer>
    © 2022&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Moment Date Planner&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href = "https://github.com/masomaster/Moment-date-planner"><img src="/images/GitHub-Mark-32px.png"></a>
</footer>

</body>
</html>