<%- include('../partials/header') %>

<div class="content">

    <% activities.forEach(function(a) { %>
        <p><%= a.title %></p>
    <% }) %>
    
    <% if(user) { %>
        <a href = "/activities/new">Add New Activity</a>
    <% } %>
</div>

<%- include('../partials/footer') %>
