<%- include('../partials/header') %>

<div class="content">

    <p>This is the activities/index page</p>
    <a href = "/activities/new">Add New Activity</a>

</div>
<%- include('../partials/footer') %>
