<%- include('../partials/header') %>

<div class="content">
  <h1><%= title %></h1>
    <form action="/activities" method="POST">
      <label>Title:
        <input type="text" name="title">
      </label><br>
      <label>Location: 
        <input type="text" name="location">
      </label><br>
      <label>Website: 
        <input type="url" name="url">
      </label><br>
      <label>Vibe: 
        <select name="vibe">
          <option value="Romantic">Romantic</option>
          <option value="Chill">Chill</option>
          <option value="Hipster">Hipster</option>
          <option value="Energetic">Energetic</option>
          <option value="Adventure">Adventure</option>
        </select>
      </label><br>
      <label>Category:
        <select name="category">
          <option value="Food">Food</option>
          <option value="Drinks">Drinks</option>
          <option value="Entertainment">Entertainment</option>
          <option value="Outdoors">Outdoors</option>
          <option value="Physical Activity/Exercise">Physical Activity/Exercise</option>
          <option value="Sightseeing">Sightseeing</option>
        </select>
      </label><br>
      <label>Notes: 
        <textarea name="notes"></textarea>
      </label><br>
      <label>Visibility:
        <div>
          <input type="radio" id="public" name="public" value="true" checked="checked">
          <label for="public">Public</label><br>
          <input type="radio" id="private" name="public" value="false">
          <label for="private">Private</label><br>
        </div>
      </label>
      <input type="submit" value="Create Activity">
    </form>
</div>

<%- include('../partials/footer') %>