<%- include('../partials/header') %>

<div class="content">

    <p>This is the dates/new page</p>
    <form action="/dateplans" method="POST">
        <label>Title:
          <input type="text" name="title">
        </label><br>
        <input type="submit" value="Create Date Plan">
    </form>
</div>
<%- include('../partials/footer') %>
